name: Deploy React App
on:
  push:
    branches:
      - 'main'
    # paths-ignore:
    #   - '.github/workflows/*'
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: get repository code
        uses: actions/checkout@v3
      - name: Cache deps
        uses: actions/cache@v3
        with:
          path: ~/.npm
          key: node-modules-${{ hashFiles('**/package-lock.json') }}
      - name: Install dependencies
        run: npm install
        # run: npm ci
      - name: Test applicaiton
        run: npm run test
  lint:
      runs-on: ubuntu-latest
      steps:
        - name: get repository code
          uses: actions/checkout@v3
        - name: Cache deps
          uses: actions/cache@v3
          with:
            path: ~/.npm
            key: node-modules-${{ hashFiles('**/package-lock.json') }}
        - name: Install dependencies
          run: npm install
        - name: Lint application
          run: npm run lint
  build:
      runs-on: ubuntu-latest
      needs: [test, lint]
      steps:
        - name: get repository code
          uses: actions/checkout@v3
        - name: Cache deps
          uses: actions/cache@v3
          with:
            path: ~/.npm
            key: node-modules-${{ hashFiles('**/package-lock.json') }}
        - name: Install dependencies
          run: npm install
        - name: Build application
          run: npm run build
        - name: Deploy
          run: echo Deploying...
