name: Test React App
on: push
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: get repository code
        uses: actions/checkout@v3
      - name: Install dependencies
        run: npm install
        # run: npm ci
      - name: Test applicaiton
        run: npm run test
